body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, #fff 0%, #216bbbf3 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(244, 7, 7);
}

header {
    text-align: center;
    align-items: center;
    background-color: radial-gradient(circle, #fff 0%, #cdcdcdf3 100%);
    border-bottom: 1px solid #077df4;
    padding: 1rem 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
header,
p {
    margin: 0;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}

h2,
h3,
h4,
h5 {
    font-size: 150%;
    text-align: center;
}

h4 {
    padding-top: .5em;
}

.question,
ol,
li {
    list-style-type: none;
}

#card-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button {
    background: radial-gradient(circle, #fff 0%, #216bbbf3 100%);
    border-radius: 8px;
    color: #ff0000;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 25px 40px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.5em;
  }

  #submit-button {
    background: radial-gradient(circle, #fff 0%, #216bbbf3 100%);
    border-radius: 8px;
    color: #ff0000;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 200px;
    padding: 12.5px 25px;
    margin-left: 2em;
    text-align: center;
    align-items: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.5em;
  }

#playagain-button {
    background: radial-gradient(circle, #fff 0%, #216bbbf3 100%);
    border-radius: 8px;
    color: #ff0000;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 200px;
    padding: 12.5px 25px;
    margin-left: 45%;
    text-align: center;
    align-items: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.5em;
  }

#answer1,
#answer2,
#answer3,
#answer4 {
    background-color: #fff;
    border: 1px solid #077df4;
    border-radius: 25px;
    color: #077df4;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

#answer-feedback {
    text-align: center;
    font-size: 1.5rem;
}
