
body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, #53cdcbf3 0%, #ffffff 100%);
  }

header {
    padding: 40px;
    text-align: center;
    font-size: 40px;
    background: #94c7f7;
    color: #fde8bb;
    border-bottom:30px #879274;
  }

  h1 {
    font-size: larger;
  }

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
  }
  
section {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin: 16px;
    max-width: 300px;
    padding: 50px;
    text-align: left;
    }
    
aside {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-content: end;
    margin: 16px;
    max-width: 300px;
    padding: 20px;
    text-align: right;
    }

 .start-button {
    background: radial-gradient(closest-side, #b9c8ed 0%, #3d6fe4 50%, #5388cdf3 100%);
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
      }

.answers {
    background: radial-gradient(closest-side, #b9c8ed 0%, #3d6fe4 50%, #5388cdf3 100%);
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

.answers, ol, li {
    background:  #53cdcbf3;
    border-radius: 32px;
    color: #fe0000;
    cursor: crosshair;
    font-size: 1em;
    font-weight: bolder;
  }

.answer1,
.answer2,
.answer3,
.answer4 {
    background: #fff;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
